.botao {
    background-color: #0000cd;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.botao:hover {
    color: #787a79;
}